body,
html {
  height: 100%;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

/* .hero {
  height: 40vh;
} */

.hero__main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/hero-background.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__content {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.hero__heading {
  font-size: 50px;
  color: white;
}

.search__form {
  display: flex;
  flex-direction: row;
  width: 400px;
  /* margin: auto; */
  padding: 6px 6px 6px 30px;
  background-color: white;
  border-radius: 6px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.search__input {
  flex-grow: 2;
  font-size: 16px;
  border: none;
}

.search__input:focus {
  outline: none;
}

.search__button {
  background-color: #6a5acd;
  border: transparent;
  border-radius: 6px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.song {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 16px 10px 10px;
  margin: auto;
  width: 50%;
}

.song__heading {
  flex-grow: 2;
  color: white;
}

.lyrics__button {
  background-color: #6a5acd;
  border: transparent;
  border-radius: 6px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
}

.lyrics {
  text-align: center;
  color: white;
}

.lyrics__heading {
  text-align: center;
  color: white;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  margin: auto;
  padding: 20px 0;
}

.pagination__button {
  background-color: #6a5acd;
  border: transparent;
  border-radius: 6px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}
